<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-screenshot-forbidden"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>ScreenshotForbidden</name>

    <!-- 这里加载js模块，该js模块自动屏蔽，并不需要对外暴露js接口-->
    <js-module name="ScreenshotForbidden" src="www/ScreenshotForbidden.js">
        <clobbers target="ScreenshotForbidden" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ScreenshotForbidden">
                <param name="android-package"
                    value="leon.girl.cordova.plugin.screenforbidden.ScreenshotForbidden" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ScreenshotForbidden.java"
            target-dir="src/leon/girl/cordova/plugin/screenforbidden" />
    </platform>
</plugin>